@media screen and (min-width: 1440px) {
    body {
        padding-left: max(80px, calc(50% - 720px));
        padding-right: max(80px, calc(50% - 720px));
    }
}

@media screen and (min-width: 801px) {
    .shoppingBasketSection {
        display: unset !important;
    }
    .shoppingBasketButton {
        display: none;
    }
} 

@media screen and (max-width: 800px) {
   .shoppingBasketSection {
    display:none;
   }
   .buttonMobile {
    display: unset !important;
   }
} 

@media screen and (max-width: 500px) {
    header h2,
    .overlayLogo {
        display: none;
    }
    .search {
        flex-wrap: wrap;
        justify-content: center;
    }
    p, 
    .search a {
        font-size: 16px;
    }
    .restaurantDescription {
        padding: 0 16px;
    }
    .footerTop {
        flex-wrap: wrap;
        justify-content: center;
    }
}