body,
.shoppingBasketDescription {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #ff8c00;
  --sb-size: 9px;
}
body::-webkit-scrollbar,
.shoppingBasketDescription::-webkit-scrollbar {
  width: var(--sb-size)
}
body::-webkit-scrollbar-track,
.shoppingBasketDescription::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb,
.shoppingBasketDescription::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
@supports not selector(::-webkit-scrollbar) {
  body,
  .shoppingBasketDescription {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}
main {
    display: flex;
    background-color: white;
}
footer {
    background-color: darkorange;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3 {
    font-size: 20px;
}
.headerMenu {
    display: flex;
    gap: 16px; 
}
.headerMenu img {
    cursor: pointer;
    width: 32px;
}
.headerLogo {
    cursor: pointer;
    width: 100px;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 16px;
}
.search a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: darkorange;
    padding: 4px 8px;
    border-radius: 16px;
}
.search a:hover {
    background-color: darkorange;
    color: white;
}
.mainSection {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.menu {
    width: fit-content;
}
.menuSectionImg {
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 24px;
}
.menuSection:nth-child(3) {
    margin-bottom: 24px;
}
.menuDescription, 
.menuSectionImg, 
.currentDishDesign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.currentDishDesign {
    border: 1px solid #dbd9d7;
    border-radius: 8px;
    padding: 0 16px;
    width: 87%;
}
.currentDishDesign p {
    font-weight: 300;
    color: #666666;
    margin-top: 0;
}
.currentDishDesign h3:last-child {
    color: darkorange;
}
.currentDishDesignTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.currentDishDesignTop img {
    cursor: pointer;
    height: 40px;
}
.currentDishDesignTop img:hover {
    -ms-transform: scale(1.3); 
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
}
.dishHeadline {
    display: flex;
    align-items: center;
    gap: 8px;
}
.dishHeadline img {
    cursor: pointer;
    height: 20px;
}
.dishContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.titleImg {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.overlayLogo {
    border-radius: 32px;
    position: absolute;
    bottom: -49px;
    width: 96px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurantDescription {
    display: flex;
    flex-direction: column;
    padding: 0 48px;
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.restaurantTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.restaurantIcons {
    display: flex;
    gap: 10px;
}
.restaurantIcons img{
    cursor: pointer;
    height: 21px;
    background-color: rgb(245, 243, 241);
    padding: 8px;
    border-radius: 100%;
}
.restaurantIcons img:hover {
    background-color: #ebe9e8;
}
.ranking {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
}
.ranking a {
    color: darkorange;
    cursor: pointer;
}
.rankingImg {
    height: 24px;
}
.footerTop {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-top: 16px;
}
.footerTop a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.footerBottom {
    color: white;
}
.shoppingBasketSection {
    min-width: 302px;
    position: sticky;
    top: 0px;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 64px;
}
.shoppingBasketHead {
    height: 100%;
}
.shoppingBasketDescription {
    overflow: auto;
    height: calc(100vh - 86px);
    padding-right: 8px;
}
.shoppingBasketHead,
.shoppingBasketDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoppingBasketIcon {
    height: 32px;
}
.shoppingBasketHead p {
    padding: 8px;
    text-align: center;
    font-weight: 300;
}
.deliveryStatus {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 16px;
}
.currentDeliveryStatus {
    border-radius: 24px;
    background-color: white;
}
.deliveryOrNot {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4px 0 24px 0;
    background-color:rgb(245, 243, 241);
    height: 48px;
    border-radius: 24px;
    width: 260px;
}
.deliveryOrNot:hover {
    background-color: #ebe9e8;
}
.deliveryOrNotText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.deliveryOrNotIcon {
    height: 32px;
    cursor: pointer;
}
.addedDishes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 260px;
    margin-top: 16px;
    border-bottom: 1px solid #ebe9e8;
}
.addedDish {
    display: flex;
    justify-content: space-between;
}
.addedDishAmount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.addedDishAmount img {
    cursor: pointer;
    height: 20px;
    background-color: rgb(245, 243, 241);
    padding: 6px;
    border-radius: 50%;
}
.addedDishAmount img:hover {
    background-color: #ebe9e8;
}
.addedDishCounter {
    display: flex;
    align-items: center;
    gap: 8px;
}
.checkout {
    margin-top: 32px;
    width: 100%;
}
.totalCosts,
.deliveryCosts,
.totalWithDelivery {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}
.checkoutButton {
    cursor: pointer;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    color: white;
    border-radius: 24px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.checkoutButton:hover {
     -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}
.checkoutSection {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.checkoutDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.checkoutDialog img {
    width: 80%;
    height: auto;
}
.checkoutDialog h2 {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}
.checkoutDialog a {
    cursor: pointer;
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    border-radius: 24px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.checkoutDialog a:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}
.d-none {
    display: none;
}
.hide-scrollbar {
    overflow: hidden;
}
.shoppingBasketButton {
    position: fixed;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.shoppingBasketButton button {
    cursor: pointer;
    width: 240px;
    display: flex;
    justify-content: center;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}
.mobileShoppingBasket {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobileBasket {
    display: flex;
    align-items: space-between;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    body {
        padding-left: max(80px, calc(50% - 720px));
        padding-right: max(80px, calc(50% - 720px));
    }
}
@media screen and (min-width: 801px) {
    .shoppingBasketButton {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .hide-mobile {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    header h2,
    .overlayLogo {
        display: none;
    }
    .search {
        flex-wrap: wrap;
        justify-content: center;
    }
    p, 
    .search a {
        font-size: 16px;
    }
    .restaurantDescription {
        padding: 0 16px;
    }
    .footerTop {
        flex-wrap: wrap;
        justify-content: center;
    }
}